# Reverse Complement

Before running sequana demultiplex, we need to reverse the sequence of index i5 (smart-seq). Therefore, provide the sample sheet here.

Activate the kernel of environment_1. Recall to create a kernel corresponding to a conda environment, follow the following steps from the terminal:
conda activate environment_1
conda install ipykernel
python -m ipykernel install --user --name=environment_1

In [1]:
from Bio.Seq import Seq
import pandas as pd

In [2]:
# File in which we will put the reverse sequence (that will be used for Demultiplexing)
samplesheet_file="/sequencing_directory/SampleSheet.csv"
# File from which we take the sequence to reverse (that is directly provided by the sequencer or the biologist)
seq_info_file="/sequencing_directory/EXP<NUMBER>_Demultiplex_gDNA.xlsx"

samplesheet = pd.read_csv(samplesheet_file, header=None)
seq_info = pd.read_excel(seq_info_file)

In [3]:
seq_info

,Well position,iTAG i7,i7 sequence,PE i5,i5 sequence,Sample name
0,A1,UDI0001,CCGCGGTT,UDI0001,AGCGCTAG,48_ss_sox2highlow_noDcm_A1_EXP571
1,A2,UDI0001,CCGCGGTT,UDI0017,ATATTCAC,48_ss_sox2highlow_noDcm_A2_EXP571
2,A3,UDI0001,CCGCGGTT,UDI0033,CCTGAACT,48_ss_sox2highlow_noDcm_A3_EXP571
3,A4,UDI0001,CCGCGGTT,UDI0049,ATCTTAGT,48_ss_sox2highlow_noDcm_A4_EXP571
4,A5,UDI0017,TAATACAG,UDI0065,ATCCATAT,48_ss_sox2highlow_noDcm_A5_EXP571
...,...,...,...,...,...,...
379,P20,UDI0080,GTGAATAT,UDI0032,TCGATCCA,96_ss_sox2low_Dcm_P20_EXP571
380,P21,UDI0096,CTAGCGCT,UDI0048,GGCCTCAT,96_ss_sox2low_Dcm_P21_EXP571
381,P22,UDI0096,CTAGCGCT,UDI0064,GTTGTCCG,96_ss_sox2low_Dcm_P22_EXP571
382,P23,UDI0096,CTAGCGCT,UDI0080,TCTCATTC,96_ss_sox2low_Dcm_P23_EXP571
383,P24,UDI0096,CTAGCGCT,UDI0096,GTGTAGAC,96_ss_sox2low_Dcm_P24_EXP571

In [4]:
samplesheet

,0,1,2,3,4,5,6,7,8,9,10
0,NaN,48_ss_sox2highlow_noDcm_A1_EXP571_A1,NaN,NaN,NaN,UDI0001,CCGCGGTT,UDI0001,AGCGCTAG,NaN,NaN
1,NaN,48_ss_sox2highlow_noDcm_A2_EXP571_A2,NaN,NaN,NaN,UDI0001,CCGCGGTT,UDI0017,ATATTCAC,NaN,NaN
2,NaN,48_ss_sox2highlow_noDcm_A3_EXP571_A3,NaN,NaN,NaN,UDI0001,CCGCGGTT,UDI0033,CCTGAACT,NaN,NaN
3,NaN,48_ss_sox2highlow_noDcm_A4_EXP571_A4,NaN,NaN,NaN,UDI0001,CCGCGGTT,UDI0049,ATCTTAGT,NaN,NaN
4,NaN,48_ss_sox2highlow_noDcm_A5_EXP571_A5,NaN,NaN,NaN,UDI0017,TAATACAG,UDI0065,ATCCATAT,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
379,NaN,96_ss_sox2low_Dcm_P20_EXP571_P20,NaN,NaN,NaN,UDI0080,GTGAATAT,UDI0032,TCGATCCA,NaN,NaN
380,NaN,96_ss_sox2low_Dcm_P21_EXP571_P21,NaN,NaN,NaN,UDI0096,CTAGCGCT,UDI0048,GGCCTCAT,NaN,NaN
381,NaN,96_ss_sox2low_Dcm_P22_EXP571_P22,NaN,NaN,NaN,UDI0096,CTAGCGCT,UDI0064,GTTGTCCG,NaN,NaN
382,NaN,96_ss_sox2low_Dcm_P23_EXP571_P23,NaN,NaN,NaN,UDI0096,CTAGCGCT,UDI0080,TCTCATTC,NaN,NaN
383,NaN,96_ss_sox2low_Dcm_P24_EXP571_P24,NaN,NaN,NaN,UDI0096,CTAGCGCT,UDI0096,GTGTAGAC,NaN,NaN

Reverse complement

In [5]:
seq_info["reverse"] = seq_info["i5 sequence"].map(lambda x: str(Seq(x).reverse_complement()))

Replace i5 by reverse in samplesheet

In [8]:
samplesheet[8] = seq_info["reverse"]

In [10]:
samplesheet.to_csv("/sequencing_directory/SampleSheet.csv")